<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="llq.mapper.CompanyMapper">
 
  <select id="getCompanyInfoById" resultType="llq.model.Company">
    select cid,com_name,com_addr, com_tel from COMPANY
    where
    cid=#{0};
  </select>

  <select id="getCompanyInfoByName" resultType="llq.model.Company">
    select cid,com_name,com_addr, com_tel from COMPANY
    where
    com_name=#{0};
  </select>
 
</mapper>