<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="llq.mapper.UserMapper">
  <resultMap id="companyMap" type="llq.model.Company">
    <id property="cid" column="cid"/>
    <result property="com_name" column="com_name"/>
  </resultMap>

  <resultMap id="userMap" type="llq.model.User">
    <id property="id" column="id"/>
    <result property="uid" column="uid"/>
    <result property="name" column="name"/>
    <result property="age" column="age"/>
    <result property="profession" column="profession"/>
    <association property="company" column="company" javaType="llq.model.Company" resultMap="companyMap">
      <id property="cid" column="cid"/>
      <result property="com_name" column="com_name"/>
    </association>
  </resultMap>

  <select id="getUserInfo" resultMap="userMap">
    select u.id,u.uid,u.name,u.age,u.company,u.profession,c.cid,c.com_name
    from USER u
    join COMPANY c on c.cid = u.company
    where
    uid=#{0};
  </select>

  <insert id="addUser" parameterType="llq.model.User" useGeneratedKeys="true" flushCache="true" keyProperty="id">
    insert into USER
    (uid,name,age,company) values
    (#{uid},#{name},#{age},#{company.cid})
  </insert>
</mapper>